<div class="my-navbar">
  <div class="container">
    <div class="row">

      <div class="my-navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar"
                onclick="displayVerticalMenu()">
          <span class="sr-only">Toggle navigation</span>
          <span>Menu</span>
          <span class="glyphicon glyphicon-triangle-bottom"></span>
          <!--span class="glyphicon glyphicon-option-vertical"></span-->
        </button>
        <a class="nav-brand" href="index"><img class="logo" src="favicon.ico" alt="logo of a hand holding a plant">Going Green</a>

      </div>

      <div id="navbar" class="navbar-collapse collapse">
          <a href="index" class="nav-menu"><%= __('Home') %></a>
          <a href="about" class="nav-menu"><%= __('About') %></a>
          <a href="design" class="nav-menu"><%= __('Design') %></a>
          <a href="settings" class="nav-menu"><%= __('Settings') %></a>


          <a href="#" class="nav-menu" onclick="changeLanguage()">
              <% if (settingsTable.selectedLang === 'en') { %>
                  <img class="icon-flag" src="images/flag-french.jpg">français</a>
                  <% } else { %>
                  <img class="icon-flag" src="images/flag-english.jpg">English</a>
                  <% } %>
      </div>

    </div>
  </div>


  <script>
    // to pass the settings from the server table below to the javascript file (myJavascript)
    var mySettings = {
      "selectedLang": "<%= settingsTable.selectedLang %>"
    }
  </script>

</div>

