<% title = 'About' %>
<%- include ../partials/navbar %>
<!-- for accessibility if a user is tabbing through and want to get to the content directly the main tab with id content is where the user would skip to -->
<main id="content">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="images/carousel-chickens.jpg" alt="Raising chickens">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="margin-bottom-1"><%= __('Raising chickens') %></h1>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="images/carousel-water.jpg" alt="Saving water">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="margin-bottom-1"><%= __('Saving water') %></h1>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="images/carousel-grow.jpg" alt="Grow your own food">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="margin-bottom-1"><%= __('Grow your own') %></h1>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="forth-slide" src="images/carousel-solar.jpg" alt="Solar panels">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="margin-bottom-1"><%= __('Solar panels') %></h1>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"><%= __('Previous') %></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"><%= __('Next') %></span>
        </a>
    </div><!-- /.carousel for small screens-->


    <div class="row" id="noCarousel">
            <img class="noCarousel" src="images/carousel-chickens.jpg" alt="Raising chickens">
            <img class="noCarousel" src="images/carousel-solar.jpg" alt="Solar panels">
            <img class="noCarousel" src="images/carousel-grow.jpg" alt="Grow your own food">
            <img class="noCarousel" src="images/carousel-water.jpg" alt="Saving water">
    </div><!-- /.no carousel for medium and larger screens 4 pictures in lines -->

    <!-- START THE FEATURETTES -->

    <div class="featurette">
        <div class="row">
            <div class="col-xs-12">
                <h2  class="featurette-heading theme-color"><%= __('Want to do some green changes, but unsure where to begin?') %></h2>
                <p class="lead"><%= __("I'm designing an application to help exploring various possibilities, so you get a better idea of what to expect, and decide if these changes are worth doing without checking various sources of information, as it would all be in one place.") %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-5">
                <a class="btn button-primary btn-lg" href="/" role="button"><%= __('GO TO THE APP') %></a>
            </div>
        </div>

    </div>


    <div class="featurette theme-color-inverted">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="featurette-heading"><%= __('Design goals') %></h2>
                <ul class="lead">
                    <li><%= __('Give a green feel visual, but still accommodate colour-blind users') %></li>
                    <li><%= __('Start with UK users but extends further with wider geographical data') %></li>
                    <li><%= __('Choice of French or English') %></li>
                    <li><%= __('Responsive application so you can use it on a mobile or a desktop') %></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-5">
                <a class="btn btn-default btn-lg button-inverted" href="design" role="button"><%= __('LEARN MORE') %></a>
            </div>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-xs-9">
            <h2 class="featurette-heading theme-color"><%= __('How this project started') %></h2>
            <p class="lead"><%= __('The initial work started in 2016 as an IT degree project. The user research, design and first prototype were done between February and June. There was no coding involved as the focus was the design. ')%> <a href="http://appinventor.mit.edu/explore/front.html" target="_blank">App inventor</a><%= __(' was used to create the mobile app for Android and I received the ')%><a href="http://appinventor.mit.edu/explore/app-month-gallery.html" target="_blank">Best Design App of the Month</a><%= __(' in June 2016 for it.') %></p>
            <p class="lead"><%= __('After learning more about permaculture, frontend development and UX design, I decided to explore this further and to design a Progressive Web Application.') %></p>
            <p class="pull-right lead"><a href="GreenChanges2_3.apk" download="planning_green_changes.apk"><%= __('Download the 2016 prototype for Android devices') %></a></p>
        </div>
        <div class="col-xs-3">
            <img class="featurette-round img-responsive center-block" src="images/app-inventor-best-app.png" alt="App Inventor logo best app of the month for design for adult">
        </div>
    </div>

    <div class="row featurette theme-color-inverted">
        <div class="col-xs-3">
            <img class="featurette-round img-responsive center-block" src="images/profile-me.jpg" alt="photo of Stephanie Krus">
        </div>
        <div class="col-xs-9">
            <h2 class="featurette-heading"><%= __('About me') %></h2>
            <p class="lead"><%= __("I'm a software developer exploring UX design and living in Ayrshire, Scotland. I want to promote better uses of natural resources, and permaculture as an intelligent design, which meet human needs whilst enhancing biodiversity, and reducing our impact on the planet.") %></p>
        </div>
    </div>
    <!-- /END THE FEATURETTES -->
</main>