<% title = 'Cookies' %>
<%- include ../partials/navbar %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="margin-3 text-center"><%= __('Cookies policy') %></h1>

<h3 class="theme-color margin-top-3"><%= __('What is a cookie?') %></h3>
<p><%= __("A cookie is a small text file that’s stored on your computer or mobile device when you visit a website.") %></p>

<h3 class="theme-color margin-top-3"><%= __('Is there cookies in this application?') %></h3>
<p><%= __('Yes, I use cookies to remember your settings next time you visit:') %></p>
    <ul>
        <li><strong>noCookieNotice</strong><%= __(" - This cookie remembers that you didn't want to see the cookie notice") %></li>
        <li><strong>selectedLang</strong><%= __(' - This cookie remembers the language you selected at your last visit') %></li>
        <li><strong>selectedUnit</strong><%= __(' - This cookie remembers the unit you selected at your last visit (metric or imperial)') %></li>
        <li><strong>selectedTheme</strong><%= __(' - This cookie remembers the colour theme you selected at your last visit') %></li>
    </ul>

<h3 class="theme-color margin-top-3"><%= __('How long are these cookies stored?') %></h3>
<p><%= __('I keep them for 30 days, after that you will need to re-select your prefered settings') %></p>

<h3 class="theme-color margin-top-3"><%= __('Can I use the app if my cookies are disabled?') %></h3>
<p><%= __("Yes, but you won't be able to change the default settings for the unit, language and colour theme") %></p>


<h3 class="theme-color margin-top-3"><%= __('Where can I learn more about cookies?') %></h3>
<p><%= __('Learn more about how to enable, delete, check and views cookies on ') %><a href="http://www.whatarecookies.com/" target="_blank" >http://www.whatarecookies.com/</a></p>

    </div>
  </div>
  </div>

<%- include ../partials/footer %>
