<% title = 'Design' %>
<%- include ../partials/navbar %>

<% if (settings.selectedLang == 'fr') { %>
<div class="alert alert-warning text-center" role="alert">Cette page n'est traduite qu'en partie pour le moment, le reste est en anglais.</div>
<% } %>

<div class="featurette">
    <div class="row">
        <div class="col-xs-12 clearfix">
            <h1 class="margin-3 text-center"><%= __('The design process') %><span class="label label-danger to-right"><%= __('Under construction') %></span></h1>
            <p class="lead"><%= __("It started with a mobile app made for Android devices with a user group of 5 with low to medium IT skills. Now I'm working toward a Progressive Web App and more usability testing will be done all along.") %></p>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-theme-color">
                    <div class="panel-heading" role="tab" id="heading1">
                        <h2 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1"><%= __('Responsive application') %></a>
                        </h2>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body">
                            <p>I'm using Bootstrap and a mobile first design approach.</p>
                            <p>The various components will be adapted so they look as good as possible on various screens sizes.</p>
                            <p>If a GPS is available on the device then it could be used to calculate the potential amount of solar energy according to the location.</p>
                            <p>This will be a <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">Progressive Wep App:</a></p>
                            <ul>
                                <li><strong>Reliable</strong> - Load instantly and never show the downasaur, even in uncertain network conditions</li>
                                <li><strong>Fast</strong> - Respond quickly to user interactions with silky smooth animations and no janky scrolling</li>
                                <li><strong>Engaging</strong> - Feel like a natural app on the device, with an immersive user experience</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="panel panel-theme-color" >
                    <div class="panel-heading" role="tab" id="heading2">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" role="button" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"><%= __('Give a green feel visual, but still accommodate colour-blind users') %></a>
                        </h2>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body">
                            <h3>Background</h3>
                            <p>To give a green feel, various backgrounds had been tried (soil, wood, grass, and other material texture). An image free of copyright of tree rings was chosen on <a href="https://pixabay.com/" target="_blank">Pixabay</a>, modified to be lighter, rotated and finally a yellow shade was added for warmth and the opacity was modified to preserve the readability of the text.</p>
                            <div class="row">
                                <img src="images/backgrounds/wood2.jpg" class="img-height-medium" alt="wood texture original picture">
                                <img src="images/backgrounds/wood2bis.jpg" class="img-height-medium" alt="wood texture lighter shade">
                                <img src="images/backgrounds/wood2bis600yel.png" class="img-height-medium" alt="wood texture adding a yellow shade">
                            </div>
                            <h3 class="margin-top-2">Icons</h3>
                            <p>The icons had to be recognisable, free of copyright, big enough and providing a feeling of consistency even though they came from various sources on <a href="https://pixabay.com/" target="_blank">Pixabay</a>. They were tried with users and the 'filled' ones were preferred</p>
                            <h4 class="margin-top-2">Initial icons</h4>
                            <div class="row">
                                <img src="images/icons/Black/Animals-Chicken-icon2.png" class="img-height-small" alt="icon hen original black">
                                <img src="images/icons/Black/Industry-Solar-Panel-icon.png" class="img-height-small" alt="icon solar panel original black">
                                <img src="images/icons/Black/Plants-Hand-Planting-icon.png" class="img-height-small" alt="icon hand with plant inside original black">
                                <img src="images/icons/Black/water_tap.png" class="img-height-small" alt="icon tap original black">
                            </div>
                            <h4 class="margin-top-2">After modifying them</h4>
                            <div class="row">
                                <img src="images/icons/hen-green.png" class="img-height-small" alt="icon hen green">
                                <img src="images/icons/solar-panel-green.png" class="img-height-small" alt="icon solar panel green">
                                <img src="images/icons/grow-green.png" class="img-height-small" alt="icon hand with plant inside green">
                                <img src="images/icons/tap-green.png" class="img-height-small" alt="icon tap green">
                            </div>
                            <h3 class="margin-top-2">A very basic and contrasted option</h3>
                            <p>The green look with the yellow wood background was tested with colour blind users. Even though they could read it, some of them preferred a very basic white and black design. So I gave that option too.</p>
                            <p>In this new version, it's dark green and white. There is also a blue version - <em>to be improved later </em></p>
                        </div>
                    </div>
                </div>


                <div class="panel panel-theme-color">
                    <div class="panel-heading" role="tab" id="heading3">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" role="button" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3"><%= __('Choice of language') %></a>
                        </h2>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                        <div class="panel-body">
                            <p>Flags are usually not the best to indicate a choice of language as they symbolise a nation not a language. </p>
                            <p>But with a choice of only two languages initially (French and English),
                              I decided to still use the flags as a marker for the language as it draws the user's attention and should not be ambiguous in a European audience context.</p>
                            <p>Moving forward, I will add more languages (Spanish, Italian, German, Dutch and Gaelic), and will add these to the setting menus without flags.</p>
                        </div>
                    </div>
                </div>


                <div class="panel panel-theme-color">
                    <div class="panel-heading" role="tab" id="heading5">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" role="button"  data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"><%= __('Start with UK users but extends further with wider geographical data') %></a>
                        </h2>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                        <div class="panel-body">
                            <p>At the moment the app is only using basic data for UK locations (information about recycling water and solar panels). In the future more information will be available.</p>
                            <p>I planned to use weather databases to access information about the amount of sunlight or rain depending on the location.</p>
                        </div>
                    </div>
                </div>


                <div class="panel panel-theme-color">
                    <div class="panel-heading" role="tab" id="heading6">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" role="button" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5"><%= __('Source of information used') %></a>
                        </h2>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                        <div class="panel-body">
                            <h3>Raising chickens</h3>
                            <p>There are differences between breeds, but on average a good estimate is 300 eggs a year / <a href="https://poultrykeeper.com/general-chickens/the-best-laying-hens/" target="_blank">Poultry keeper</a></p>
                            <p>Regarding space, a rule of thumb is about 4 square feet per chicken inside the henhouse and 10 sq/ft per chicken in an outside run / <a href="https://www.backyardchickens.com/articles/how-to-raise-chickens.47660/" target="_blank">Backyard Chickens</a></p>
                            <h3 class="margin-top-2">Rainwater recycling</h3>
                            <p>To get information about how much water to expect. Thousands of litres of rainwater fall on the average roof every year / <a href="http://www.nidirect.gov.uk/index/information-and-services/environment-and-greener-living/greener-lifestyles/greener-gardening/saving-water-in-the-garden.html" target="_blank">NIdirect government services</a></p>
                            <h3 class="margin-top-2">Grey water recycling</h3>
                            <p>To get information about how it works and how much water to expect. If recycled properly, grey water can save approximately 70 litres of potable water per person per day in domestic households / <a href="http://www.thegreenage.co.uk/tech/greywater-recycling/" target="_blank">The Green Age</a></p>
                            <h3 class="margin-top-2">Growing your own food</h3>
                            <p>To get information about the various crops, with an emphasis on easy ones, when to sow, when to harvest where to plant / <a href="https://www.rhs.org.uk/Advice/Grow-Your-Own/Vegetables?sortReverse=false&sort=_score&facets=9;veg&facets=0;gyo" target="_blank">Royal Horticultural Society</a></p>
                            <p>To get information about growing in strawbales / <a href="https://www.strawbaleveg.co.uk/" target="_blank">StrawbaleVeg</a></p>
                            <h3 class="margin-top-2">Solar panels</h3>
                            <p>To find facts on how much energy can be produced depending on various factors.</p>
                            <p>I've found some apps, which calculate the energy needed depending on appliances you might have which are interesting from a design point of view / <a href="https://play.google.com/store/apps/details?id=com.projects.techinfini.solarcalculator" target="_blank">TechInfini</a> / <a href="https://play.google.com/store/apps/details?id=com.solarcalculator.application" target="_blank">Solar Calculator</a></p>
                            <p>A 4kWp system in Scotland can generate about 3,200 kilowatt hours of electricity a year / <a href="http://www.energysavingtrust.org.uk/domestic/solar-panels" target="_blank">Energy Saving Trust</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-theme-color">
                    <div class="panel-heading" role="tab" id="heading5">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" role="button" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6"><%= __('Wireframes - Wireflows - Prototypes') %></a>
                        </h2>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                        <div class="panel-body">
                            <p>During the inital design a wireflow was created, a prototype was made with App Inventor, and some wireframes for a possible future app were designed for the 'Grow your own' part.</p>
                            <p><a href="images/docs/wireflow1.png" target="_blank">Wireflow (2016)</a> - in grey, plan for the 2nd iteration -  in = input - out = output</p>
                            <p><a href="GreenChanges2_3.apk" download="planning_green_changes.apk"><%= __('Download the 2016 prototype for Android devices') %></a></p>
                            <p><a href="images/docs/wireframe2016.pdf" target="_blank">Wireframe for Grow your own (2016)</a></p>
                            <h4 class="margin-top-3">Wireframes from 2018</h4>
                            <p><a href="images/docs/About-Cookies-Design.pdf" target="_blank">About, Cookies, and Design pages (2018)</a></p>
                            <p><a href="images/docs/Home-alternative-navigation.pdf" target="_blank">An alternative navigation (2018)</a></p>
                            <p><a href="images/docs/Home-Grow-alternative-navigation.pdf" target="_blank">Grow your own (2018)</a></p>
                            <p><a href="images/docs/Email-the-results.pdf" target="_blank">Email the results (2018)</a></p>
                            <p><a href="images/docs/Error-handling-warnings.pdf" target="_blank">Error handling and warnings (2018)</a></p> 
                        </div>
                    </div>
                </div>


                <div class="panel panel-theme-color">
                    <div class="panel-heading" role="tab" id="heading7">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" role="button"  data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7"><%= __('Design plan') %></a>
                        </h2>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                        <div class="panel-body">
                            <p>A lot of work remains to be done to implement the basic app</p>
                            <ul>
                                <li>improve accessibility</li>
                                <li>design the 'Email the results' section / share instead?</li>
                                <li>improve error handling if usability testing shows it's needed</li>
                                <li>design the basic for 'Grow your own' section</li>
                                <li>usability testing and implement improvements</li>
                            </ul>
                            <p class="margin-top-2">Then I'll go further:</p>
                            <ul>
                                <li>make the changes for the app to be a PWA</li>
                                <li>add more languages</li>
                                <li>explore possibilities of extending to users outside the UK (Weather databases)</li>
                            </ul>
                            <p class="margin-top-2"><strong>Last update: 02/03/2018</strong></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
