<% title = 'Home' %>
<%- include ../partials/navbar %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 clearfix">
          <h1 class="margin-3 text-center"><%= __('Home') %></h1>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">

          <div class="panel panel-theme-color-inverted">
                <div class="panel-heading clearfix" id="heading1">
                  <h2 class="panel-title">
                      <a data-toggle="collapse" id="henPanel" role="button"  href="#collapsehen" aria-expanded="false" aria-controls="collapsehen">
                      <%  if (settings.selectedTheme == 'plain') { %>
                      <img src="images/icons/hen-plain.png" class="icon-panel">
                      <% } else { %> 
                                <%  if (settings.selectedTheme == 'blue') { %>
                                      <img src="images/icons/hen-blue.png" class="icon-panel">
                                      <% } else { %> 
                                                <img src="images/icons/hen-green.png" class="icon-panel">
                                              <% } %>
                                <% } %>
                        <span class="panel-theme-color-title"><%= __('Raising chickens') %></span>
                        <span class="glyphicon glyphicon-triangle-bottom to-right big-glyph" id="triangle1"></span>
                      </a>
                  </h2>
                </div>

                <div id="collapsehen" class="panel-collapse collapse" aria-labelledby="heading1" >
                  <div class="panel-body">
                    <div class="row col-xs-offset-1">

                      <form class="form-inline">
                        <div class="form-group">
                          <label for="number-of-hens"><%= __('Number of hens:') %> </label>
                          <div class="input-group">
                              <div class="input-group-btn">
                                <button type="button" class="btn btn-default" aria-label="minus one" role="button" onclick="minushen()"><span class="glyphicon glyphicon-minus"></span></button>
                              </div>
                              <input type="number" class="form-control width-1" name="number-of-hens" id="number-of-hens" aria-label="number of hens" value=0>
                              <div class="input-group-btn">
                                  <button type="button" class="btn btn-default" aria-label="plus one" role="button" onclick="plushen()"><span class="glyphicon glyphicon-plus"></span></button>
                                  <button type="button" class="btn btn-danger" aria-label="reset" role="button" onclick="resethen()"><%= __('RESET') %></button>
                              </div>
                          </div>
                        </div>
                      </form>

                    </div>

                    <div class="row col-xs-offset-1 margin-top-2">
                      <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-3 control-label"><%=  __('Space to roam:') %> </label>
                            
                            <label class="col-xs-4 control-label"><span id="space-to-roam">0</span> <% if (settings.selectedUnit == 'metric') { %>
                                <%=  __('square meters') %>
                            <% } else { %>
                                <%=  __('square feet') %>
                            <% } %>
                            </label>
                        </div>
                      </form>
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label class="col-xs-3 control-label"><%=  __('Space for the coop:') %> </label>
                            <label class="col-xs-4 control-label"><span id="space-for-coop">0</span> <% if (settings.selectedUnit == 'metric') { %>
                                <%=  __('square meters') %>
                            <% } else { %>
                                <%=  __('square feet') %>
                            <% } %>
                        </div>
                      </form>
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label class="col-xs-3 control-label"><%=  __('Total space needed:') %> </label>
                            <label class="col-xs-4 control-label"><span id="total-space">0</span> <% if (settings.selectedUnit == 'metric') { %>
                                <%=  __('square meters') %>
                            <% } else { %>
                                <%=  __('square feet') %>
                            <% } %>
                        </div>
                      </form>
                      <form class="form-horizontal margin-top-3">
                        <div class="form-group">
                          <label class="col-xs-3 control-label"><%=  __('Number of eggs:') %></label>
                          <label class="col-xs-4 control-label"><span id="number-of-eggs">0</span> (<%=  __('per week') %>)</label>
                        </div>
                      </form>
                    </div>

                    <div class="row margin-2" id="more-hen">
                      <div class="col-xs-offset-1">
                        <a class="btn button-primary btn-md" data-toggle="collapse" href="#morehen" role="button"  aria-expanded="false" aria-controls="morehen" onclick="showLessHen()"><%=  __('Learn more') %></a>
                      </div>
                    </div>

                    <div class="row margin-2" id="less-hen" style="display: none">
                      <div class="col-xs-offset-1">
                        <a class="btn button-primary btn-md" data-toggle="collapse" href="#morehen" role="button"  aria-expanded="true" aria-controls="morehen" onclick="showMoreHen()"><%=  __('See less') %></a>
                      </div>
                    </div>

                    <div class="collapse" id="morehen">
                        <div class="row col-xs-offset-1">
                          <%=  __('The number of eggs you can expect will depend on the breed of hens and their age.') %>
                        </div>
                        <div class="row col-xs-offset-1 margin-top-2">
                          <%=  __('If you have more than 5 chickens, you can plan for less space than the numbers above. If the chickens spend a lot of time outside then the coop can be smaller.') %>
                        </div>
                        <div class="row col-xs-offset-1 margin-top-2">
                          <%=  __('Chikens can also help composting: each of them can eat up to 150 kilos of vegetables waste per year and if you leave your compost in their roaming space, they will turn it and improve it for you.') %>
                        </div>
                    </div>

                  </div>
                </div>
          </div>

          <div class="panel panel-theme-color-inverted">
            <div class="panel-heading clearfix" id="heading2">
              <h2 class="panel-title">
                <a data-toggle="collapse" id="solarPanel" role="button"  href="#collapsesolar" aria-expanded="false" aria-controls="collapsesolar">
                <%  if (settings.selectedTheme == 'plain') { %>
                  <img src="images/icons/solar-panel-plain.png" class="icon-panel">
                  <% } else { %> 
                            <%  if (settings.selectedTheme == 'blue') { %>
                                  <img src="images/icons/solar-panel-blue.png" class="icon-panel">
                                  <% } else { %> 
                                            <img src="images/icons/solar-panel-green.png" class="icon-panel">
                                          <% } %>
                            <% } %>
                  <span class="panel-theme-color-title"><%= __('Solar panels') %></span>
                  <span class="glyphicon glyphicon-triangle-bottom to-right big-glyph" id="triangle2"></span>
                </a>
              </h2>
            </div>

            <div id="collapsesolar" class="panel-collapse collapse" aria-labelledby="heading2">
              <div class="panel-body">
                <div class="row col-xs-offset-1">
                    <div class="row">
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle dropdown-medium" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span id="dropdownSolar"><%=  __('Select a location') %></span>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-medium" aria-labelledby="dropdownSolar">
                            <li><a onclick="updateSolarView('England')"><%=  __('England') %></a></li>
                            <li><a onclick="updateSolarView('Northern Ireland')"><%=  __('Northern Ireland') %></a></li>
                            <li><a onclick="updateSolarView('Scotland')"><%=  __('Scotland') %></a></li>
                            <li><a onclick="updateSolarView('Wales')"><%=  __('Wales') %></a></li>
                          </ul>
                        </div>
                    </div>
                </div>

                <div class="row margin-2" id="solarText" style="display: none">
                    <div class="col-xs-offset-1">
                      <span id="solarResult"></span>
                      <span><%=  __("kWh (kilowatts hour) of electricity a year would be produced by a 4kWp system.") %></span>
                    </div>
                </div>


                <div class="row margin-2" id="more-solar">
                    <div class="col-xs-offset-1">
                      <a class="btn button-primary btn-md" data-toggle="collapse" href="#moresolar" role="button"  aria-expanded="false" aria-controls="moresolar" onclick="showLessSolar()"><%=  __('Learn more') %></a>
                    </div>
                </div>

                <div class="row margin-2" id="less-solar" style="display: none">
                  <div class="col-xs-offset-1">
                    <a class="btn button-primary btn-md" data-toggle="collapse" href="#moresolar" role="button"  aria-expanded="true" aria-controls="moresolar" onclick="showMoreSolar()"><%=  __('See less') %></a>
                  </div>
                </div>

                <div class="collapse" id="moresolar">
                    <div class="row col-xs-offset-1">
                      <%=  __("The power of a solar panel (PV) cell is measured in kilowatts peak (kWp). That's the rate at which it generates energy at peak performance in full direct sunlight during the summer.") %>
                    </div>
                    <div class="row col-xs-offset-1 margin-top-2">
                      <%=  __("PV cells come in a variety of shapes and sizes. Most PV systems are made up of panels that fit on top of an existing roof, but you can also fit solar tiles.") %>
                    </div>
                    <div class="row col-xs-offset-1 margin-top-2">
                      <%=  __("The average domestic solar PV system is 4kWp.") %>
                    </div>
                </div>
              </div>
            </div>
          </div>


          <div class="panel panel-theme-color-inverted">
            <div class="panel-heading clearfix" id="heading3">
              <h2 class="panel-title">
                <a data-toggle="collapse" id="waterPanel"role="button"  href="#collapsewater" aria-expanded="false" aria-controls="collapsewater">
                  <%  if (settings.selectedTheme == 'plain') { %>
                  <img src="images/icons/tap-plain.png" class="icon-panel">
                  <% } else { %> 
                            <%  if (settings.selectedTheme == 'blue') { %>
                                  <img src="images/icons/tap-blue.png" class="icon-panel">
                                  <% } else { %> 
                                            <img src="images/icons/tap-green.png" class="icon-panel">
                                          <% } %>
                            <% } %>
                  <span class="panel-theme-color-title"><%= __('Saving water') %></span>
                  <span class="glyphicon glyphicon-triangle-bottom to-right big-glyph" id="triangle3"></span>
                </a>
              </h2>
            </div>

            <div id="collapsewater" class="panel-collapse collapse" aria-labelledby="heading3">
              <div class="panel-body">

                <div class="row col-xs-offset-1">
                  <%=  __('Thousands of litres of rain water can be collected per year, on an average roof in the UK.') %>
                </div>

                <div class="row col-xs-offset-1 margin-top-2">
                  <form class="form-inline">
                    <div class="form-group">
                      <label for="number-of-person"><%= __('Number of person in the household:') %> </label>
                      <div class="input-group">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default" aria-label="minus one" role="button" onclick="minusperson()"><span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                        <input type="number" class="form-control width-1" name="number-of-person" id="number-of-person"  aria-label="number of person" value="1">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default" aria-label="plus one" role="button" onclick="plusperson()"><span class="glyphicon glyphicon-plus"></span></button>
                          <button type="button" class="btn btn-danger" aria-label="reset" role="button" onclick="resetperson()"><%= __('RESET') %></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="row col-xs-offset-1 margin-top-2">
                  <label class="control-label" style="margin-left: 0;"><span id="water-saved">70</span>  <%= __('litres of potable water per day could be saved by recycling grey water') %></label>
                </div>

                <div class="row margin-2" id="more-water">
                  <div class="col-xs-offset-1">
                    <a class="btn button-primary btn-md" data-toggle="collapse" href="#morewater" role="button" aria-expanded="false" aria-controls="morewater" onclick="showLessWater()"><%=  __('Learn more') %></a>
                  </div>
                </div>

                <div class="row margin-2" id="less-water" style="display: none">
                  <div class="col-xs-offset-1">
                    <a class="btn button-primary btn-md" data-toggle="collapse" href="#morewater" role="button" aria-expanded="false" aria-controls="morewater" onclick="showMoreWater()"><%=  __('See less') %></a>
                  </div>
                </div>

                 <div class="collapse" id="morewater">
                    <div class="row col-xs-offset-1">
                      <%=  __('Grey water is the waste water from baths, showers, washing machines, dishwashers, and sinks, which typically makes up between 50-80% of households waste water.') %>
                    </div>
                    <div class="row col-xs-offset-1 margin-top-2">
                      <%=  __('Grey water is never going to be safe to drink, even when treated, but it can be used to flush toilets, wash clothes and water your garden.') %>
                    </div>
                    <div class="row col-xs-offset-1 margin-top-2">
                      <%=  __('There are various ways to treat grey water, ranging from very simple methods to complex fully automated treatment systems, depending on what you want to use the water for.') %>
                    </div>
                </div>

              </div>
            </div>
          </div>


          <div class="panel panel-theme-color-inverted">
            <div class="panel-heading clearfix" id="heading4">
              <h2 class="panel-title">
                <a data-toggle="collapse" id="growPanel" role="button"  href="#collapsegrow" aria-expanded="false" aria-controls="collapsegrow">
                  <%  if (settings.selectedTheme == 'plain') { %>
                  <img src="images/icons/grow-plain.png" class="icon-panel">
                  <% } else { %> 
                            <%  if (settings.selectedTheme == 'blue') { %>
                                  <img src="images/icons/grow-blue.png" class="icon-panel">
                                  <% } else { %> 
                                            <img src="images/icons/grow-green.png" class="icon-panel">
                                          <% } %>
                            <% } %>
                  <span class="panel-theme-color-title"><%= __('Grow your own') %></span>
                  <span class="glyphicon glyphicon-triangle-bottom to-right big-glyph" id="triangle4"></span>
                </a>
              </h2>
            </div>

            <div id="collapsegrow" class="panel-collapse collapse" aria-labelledby="heading4">
              <div class="panel-body">
                <div class="row col-xs-offset-1">
                  <div class="row margin-bottom-2">
                    <h3><span class="label label-danger "><%= __('Coming soon') %></span></h3>
                  </div>
                  <div class="row">
                    <p><%=  __('Various starter crops with advices') %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="panel panel-theme-color-inverted margin-bottom-4">
            <div class="panel-heading clearfix" id="heading5">
              <h2 class="panel-title">
                <a data-toggle="collapse" id="emailPanel" role="button"  href="#collapseemail" aria-expanded="false" aria-controls="collapseemail">
                <%  if (settings.selectedTheme == 'plain') { %>
                  <img src="images/icons/email-plain.png" class="icon-panel">
                  <% } else { %> 
                            <%  if (settings.selectedTheme == 'blue') { %>
                                  <img src="images/icons/email-blue.png" class="icon-panel">
                                  <% } else { %> 
                                            <img src="images/icons/email-green.png" class="icon-panel">
                                          <% } %>
                            <% } %>
                  <span class="panel-theme-color-title"><%= __('Email the results') %></span>
                  <span class="glyphicon glyphicon-triangle-bottom to-right big-glyph" id="triangle5"></span>
                </a>
              </h2>
            </div>

            <div id="collapseemail" class="panel-collapse collapse" aria-labelledby="heading5">
              <div class="panel-body">
                <div class="row col-xs-offset-1">
                  <div class="row margin-bottom-2">
                    <h3><span class="label label-danger "><%= __('Coming soon') %></span></h3>
                  </div>
                  <div class="row">
                    <p><%=  __('To chose to receive an email with all the results from the various selections done on this page') %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

  </div>

</div>

<script>

// before leaving the page save if panels are open or not
// TODO improve: it only does it once for some reason (is this called on other pages?)
window.onbeforeunload = function(){
    if (document.getElementById('henPanel').getAttribute('aria-expanded') == "true" ) {
        localStorage.henexpanded = 'open';
      } else {
        localStorage.henexpanded = 'close';
      }
    if (document.getElementById('solarPanel').getAttribute('aria-expanded') == "true" ) {
      localStorage.solarexpanded = 'open';
    } else {
      localStorage.solarexpanded = 'close';
    }
    if (document.getElementById('waterPanel').getAttribute('aria-expanded') == "true" ) {
      localStorage.waterexpanded = 'open';
    } else {
      localStorage.waterexpanded = 'close';
    }
    if (document.getElementById('growPanel').getAttribute('aria-expanded') == "true" ) {
      localStorage.growexpanded = 'open';
    } else {
      localStorage.growexpanded = 'close';
    }
    if (document.getElementById('emailPanel').getAttribute('aria-expanded') == "true" ) {
      localStorage.emailexpanded = 'open';
    } else {
      localStorage.emailexpanded = 'close';
    }
};
</script>




